@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400:7006display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.header-hero-wrapper{
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 18px;
}

.header-logo {
    height: 50px;
    width:auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display:flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.eh-tech-card {
    align-self: center;
    margin: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #E9EAF8;
    padding: 0;
    margin: 0;
}

.hero-text {
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px;
    border-radius: 5px;
    border: 0;
}
.cards-wrapper {
    margin: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: -50px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #3882f6;
}

.card-subtext {
    text-align:center;
    margin-top: -15px;

}

.quote-wrapper {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote-text {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-weight: 900;
    align-self:flex-end ;
}

.action-wrapper{
    margin: 100px;
}

.action-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding: 50px;
}

h3 {
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

.action-text {
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

.sign-up-button-second {
    border: 2px solid #E5E7EB;
}

.footer-wrapper {
    background-color: #1f2937;
}

.footer {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}